* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(105, 231, 231, 0.527);
    font-family: 'Roboto', sans-serif;   /* https://fonts.google.com/specimen/Roboto?sidebar.open=true&selection.family=Roboto:ital,wght@1,300 */
    min-height: 100vh;
}

header {
    font-size: 1.5em;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: black;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background: black;
}
